<header>
  <div class="image">
    <img src="/images/pic.jpg" alt="Moosa Raheel pic" />
  </div>
  <nav>
    <ul>
      <li>
        <a class="<% if(page=='home'){ %> active <% } %>" href="/">Home</a>
      </li>
      <li>
        <a class="<% if(page=='services'){ %> active <% } %>" href="/services"
          >Services</a
        >
      </li>
      <li>
        <a class="<% if(page=='skills'){ %> active <% } %>" href="/skills"
          >Skills</a
        >
      </li>
      <li>
        <a class="<% if(page=='contact'){ %> active <% } %>" href="/contact"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
