<%- include('partials/boilerCode') %>
<div class="main">
  <%- include('partials/navbar',{page:"services"}) %>
  <section class="content">
    <h1 class="services center contact-head">Services</h1>
    <div class="services">
      <div class="item">
        <i class="fa-brands fa-internet-explorer"></i>
        <h2>Web Development</h2>
      </div>
      <div class="item">
        <i class="fa-brands fa-figma"></i>
        <h2>Web Designing</h2>
      </div>
      <div class="item">
        <i class="fa-solid fa-palette"></i>
        <h2>Graphic Designing</h2>
      </div>
      <div class="item">
        <i class="fa-solid fa-magnifying-glass"></i>
        <h2>SEO</h2>
      </div>
      <div class="item">
        <i class="fa-solid fa-server"></i>
        <h2>Web Hosting</h2>
      </div>
      <div class="item">
        <i class="fa-solid fa-pen"></i>
        <h2>Content Writing</h2>
      </div>
      <div class="item">
        <i class="fa-brands fa-blogger"></i>
        <h2>Blogging</h2>
      </div>
      <div class="item">
        <i class="fa-solid fa-video"></i>
        <h2>Video Editing</h2>
      </div>
      <div class="item">
        <i class="fa-brands fa-bitcoin"></i>
        <h2>Trading</h2>
      </div>
    </div>
  </section>
</div>
<%- include('partials/boilerCodeEnd') %>
